@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Open Sans", sans-serif;
  height: 100%;
}

.primary {
  fill: oklch(var(--p));
}
.secondary {
  fill: oklch(var(--s));
}
.accent {
  fill: oklch(var(--a));
}
.base {
  fill: oklch(var(--b1));
}

.primaryStroke {
  stroke: oklch(var(--p));
}
.secondaryStroke {
  stroke: oklch(var(--s));
}
.accentStroke {
  stroke: oklch(var(--a));
}
.base {
  stroke: oklch(var(--b1));
}

h1 {
  /* background: linear-gradient(135deg, #08ecf3, #966fb3, #ffe999); */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300% 300%;
  animation: gradient 8s ease-in-out infinite;
  transition: 0.5s;
}

h1 span {
  transition: 0.5s;
  text-shadow: 0 0 60px #fff;
}

h1 :last-child {
  margin-left: 1rem;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.article-right {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}
.article-right::before {
  content: "";
  position: absolute;
  inset: -50px 50px;

  /* background: linear-gradient(360deg, #08ecf3, #966fb3); */
  transition: 0.5s;
  animation: animate 8s linear infinite;
}
.article-right:hover::before {
  inset: -20px 0px;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.article-right::after {
  content: "";
  position: absolute;
  background: #345da7;
  border-radius: 50%;
  transition: 0.5s;
  z-index: 1;
}

.content {
  position: absolute;
  inset: 5px;
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
}

.content img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
